.popup-container {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: var(--white);
  width: 450px;
  padding: 30px 40px;
  position: relative;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: var(--blue);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.popup button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  font-size: 30px;
  color: #c5c5c5;
  border: none;
  outline: none;
  cursor: pointer;
}

.btnX {
  display: block;
  margin: 0 0 20px auto;
  background-color: transparent;
  font-size: 30px;
  color: #c5c5c5;
}

.popup h2 {
  margin-bottom: 20px;
}

.popup p {
  font-size: 14px;
  text-align: justify;
  margin: 20px 0;
  line-height: 25px;
}

.popup a {
  display: block;
  width: 150px;
  position: relative;
  margin: 
}